{% extends 'mycrypt/home.html' %} 
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'mycrypt/css/style.css' %}">
</head>
<div class="forgot">
    <div class="container">
        <h1>Reset Password</h1>
        <br><br>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit">Submit</button>
          </form>
        <h3><a href="{% url 'mycrypt:login' %}"> Back to Login Page</h3>
    </div>
</div>
{% endblock %}