<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../static/mycrypt/style.css">
</head>
<div class="header">
    
    <h1 class="logo"><img src="/Users/johnpham/Documents/Mycrypt/mycrypt/templates/mycrypt/images/Ramen.png" alt="LOGO" width="75px">MyCrypt</h1>

</div>
<body>
<div class="forgot">

    <div class="container">
        <h1>Reset Password</h1>
        <br><br>
        <form method="POST">
            <h2>Username or Email</h2>
            <input class="input" type="text" name="uname">
            <br><br>
            <h2>New Password</h2>
            <input class="input" type="password" name="pwd" >
            <br><br>
            <h2>Confirm New Password</h2>

            <input class="input" type="Conpassword" name="cpwd" >
            <br><br>
            <input class="button" type="submit" name="submit" value="Submit" href="home.html">
            <br><br>
            <h3><a href="login.html"> Back to Login Page</h3>
            <br><br>
        </form>
    </div>
</div>


<div class="footer">
    <h1><img src="/Users/johnpham/Documents/Mycrypt/mycrypt/templates/mycrypt/images/Ramen.png" alt="LOGO" width="50px">mycrypt</h1>
    <p>Learn how to purchase and manage Cyrptocurrency</p>
</div>




</body>
</html>