<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mycrypt/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'mycrypt/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'mycrypt/css/style2.css' %}">
    <title>MyCrypt</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="{% static 'mycrypt/javaScript/bootstrap.bundle.js'%}"></script>
<script defer>
  $(document).ready(function(){
    $('#search_bar').on("keyup",function(){
      var value = $(this).val().toLowerCase();
      $("#coin_chart tr").filter(function(){
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    })
  })
</script>
<script>
$(document).ready(function(){
  $(".chatbot").click(function(){
    $("iframe").toggle();
  });
});
</script>
</head>
<section class="header">
  <nav>
    <img src="{% static 'mycrypt/img/logo.png' %}" alt="LOGO" width="100px">
    <h1 class="logo">MyCrypt</h1>
    <div class="nav-link" id="navlink">
      <ul>
        <li><a href="{% url 'mycrypt:home' %}">Cyrptocurrencies</a></li>
        <li><a href="{% url 'mycrypt:learn' %}">Learn</a></li>
        <li><a href="{% url 'mycrypt:watchlist'%}">Watchlist</a></li>
        {% block function %}
        {% if current_user %}
        <button class="nav-button">
          <a href="{%url 'mycrypt:logout'%}">Logout</a>
        </button>
        <br>
        {% else %}
        <button class="nav-button">
          <a href="{% url 'mycrypt:login' %}">Login</a>
        </button>
        <button class="nav-button" >
          <a href="{% url 'mycrypt:signup' %}">Sign Up</a>
        </button>
        {% endif %}
        {% if role == 'investor' %}
          {% if verified %}
            <button class="nav-button" >
              <a href="{% url 'mycrypt:post' %}">Create post</a>
            </button>
          {% endif %}
        {% endif %}
        {% endblock %}
      </div>
    </ul>
  </div>
</nav>
</section>
<body>
  {% block content %}
  <div class="forgot">
    <div class="container-home">
      <div class="cont-head">
          <input id="search_bar" type="text" placeholder="Search..">
          <h1>Cyrptocurrencies</h1>
        </div>
        <br><br>
        <div class="date">
          <p class="btn btn-primary chatbot">Chatbot</p>
          <iframe width="350" height="430" allow="microphone;" style="display: none;" src="https://console.dialogflow.com/api-client/demo/embedded/6e99d2bd-b0c2-45c4-b7b9-b0186856688f"></iframe>
          <form method = "POST">
            {%csrf_token%}
              <button onclick="window.location.reload();" name="period" type="submit", value="24h">24H</button>
              <button onclick="window.location.reload();" name="period" type="submit", value="7d">7D</button>
              <button onclick= "window.location.reload();"name ="period" type="submit", value="14d">14D</button>
            </form>
          </div>
          <br><br>
          <section class="p-5">
            <div class="container table-bordered table-responsive">
              <table class="table table-hover">
                
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Coin</th>
                    <th scope="col">Price</th>
                    <th scope="col">Price changed</th>
                  </tr>
                </thead>
                {% for data in icon %}
                <tbody id="coin_chart">
                <tr>
                    <td>
                      {% if data.name in favorite %}
                      <div id="{{data.name}}" class="heart-like-button liked" ></div>
                      {% else %}
                      <div id="{{data.name}}" class="heart-like-button" ></div>
                      {% endif %}
                    </td>
                    <td>
                      <img id="img" src="{{data.image}}" width="25px">
                    </td>
                        <td>
                        <a href="{% url 'mycrypt:coins' coin_name=data.name %}">
                          <span id="symbol" onclick="myfunc(this)" >{{data.symbol}}</span>
                        </a>
                        </td>
                        <td id="current_price">{{data.current_price}}$</td>
                        {% if period == "24h"%}
                        <td id="price_change" class="value" >{{data.price_change_percentage_24h_in_currency}}</td>
                        {% elif period == "7d"%}
                        <td id="price_change" class="value">{{data.price_change_percentage_7d_in_currency}}</td>
                        {% elif period == "14d"%}
                        <td id="price_change" class="value">{{data.price_change_percentage_14d_in_currency}}</td>
                        {% endif %} 
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </section>
          <div class="align-middle">
            <nav class="Page" aria-label="Page"> 
              <ul class="pagination">
                <li class="page_item fast">
                  <a onclick="" href="?page=1" class="page-link page_switch ">First</a>
                </li>
                <li class="page-item">
                  {% if icon.has_previous %}
                    <a onclick="" class="page-link page_switch" href="?page={{icon.previous_page_number}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                    {% endif %}
                  </li>
                  {% for i in icon.paginator.page_range %}
                  <li class="page-item">
                    <a onclick="" class="page-link" href="?page={{i}}">{{i}}</a>
                  </li>
                  {% endfor %}
                  <li class="page-item">
                    {% if icon.has_next %}
                      <a onclick="" class="page-link page_switch" href="?page={{icon.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    {% endif %}
                  </li>
                  <li class="page_item fast">
                    <a onclick="" href="?page={{icon.paginator.num_pages}}" class="page-link page_switch ">Last</a>
                  </li>
                </ul> 
          </nav> 
        </div>
        </a>
        </div>
      </div>
  <script >
    function myfunc(val) {
      window.localStorage.setItem('coin',val.innerHTML);
    };

    for (var i=0; i <25; i++) {
      data = parseFloat(document.getElementsByClassName('value')[i].innerHTML).toFixed(2);
      document.getElementsByClassName('value')[i].innerHTML = data.toString() + "%";
    };

    var url = window.location.href
    var att =  url.split("/").pop()
    

    $(document).ready(function () {
      $('.page-link').each(function(index){
        if(att == "" && $(this).attr('href') == "?page=1" && !$(this).parent().hasClass("fast") ) {
          $(this).parent().addClass('active');
        }
        if(att == $(this).attr('href') && !$(this).parent().hasClass("fast")) {
          $(this).parent().addClass('active').siblings().removeClass('active')
        }
      })
      $('.heart-like-button').each(function(index) {
        $(this).on('click', function () {
          if($(this).hasClass('liked')) {
            $(this).removeClass('liked');
            $.ajax({
              url: "{% url 'mycrypt:remove' %}",
              type: "POST",
              data: {
                'coin': $(this).attr('id'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              success: function (response) {},
              complete: function(){},
            })
            
          } else {
            $(this).addClass('liked');
            let symbol  = $(this).parent().parent().find('#symbol').text();
            let coinName = $(this).attr('id');
            let img = $(this).parent().parent().find('#img').attr('src');
            $.ajax({
              name: "favorite",
              url:  "{% url 'mycrypt:home' %}",
              type: "POST",
              data: {
                'symbol': symbol,
                'coinName': coinName,
                'coinImg': img,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
              },
              success: function (response) {},
              complete: function () {},
            })
          }
        });
      });
  });
  </script>
  {% endblock %}
  <div class="footer">
    <h1><img src="{% static 'mycrypt/img/Ramen.png' %}" alt="LOGO" width="50px">mycrypt</h1>
    <p>Learn how to purchase and manage Cyrptocurrency</p>
    <p class="lead">Copyright &copy; mycrypt 2022</p>
  </div>
</body>
</html>