<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mycrypt/style.css' %}">
    <link rel="stylesheet" href="{% static 'mycrypt/bootstrap.css' %}">
    <title>MyCrypt</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script
  defer
  type="text/javascript"
  src="../../static/mycrypt/realTimeGraph.js"
></script> -->
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script>
  function myfunc(val) {
    window.localStorage.setItem('coin',val.innerHTML);
  }
  
  function checkReload() {
    var reloading = sessionStorage.getItem("reloading");
      if (reloading) {
          sessionStorage.removeItem("reloading");
          var period = sessionStorage.getItem("period")
          var page = sessionStorage.getItem("page")
          var searchParams = new URLSearchParams(window.location.search);
          if (period != null)  {
            searchParams.set("period", period);
            sessionStorage.removeItem("period")
            window.location.search = searchParams.toString();
          }
          if (page != null) {
            searchParams.set("page", page);
            sessionStorage.removeItem("page")
            window.location.search = searchParams.toString();
          }
      }
  }

  function reloadPeriod(period) {
      var queryString = window.location.search;
      var urlParams = new URLSearchParams(queryString);
      var page = urlParams.get("page");
      sessionStorage.setItem("period", period)
      if (page != null) {sessionStorage.setItem("page", page);}
      sessionStorage.setItem("reloading", "true");
      document.location.reload();
  }

  function reloadPageNum(page) {
      var queryString = window.location.search;
      var urlParams = new URLSearchParams(queryString);
      var period = urlParams.get("period");
      sessionStorage.setItem("page", page)
      if (period != null) {sessionStorage.setItem("period", period);}
      sessionStorage.setItem("reloading", "true");
      document.location.reload();
  }

  function nextPage() {
    var queryString = window.location.search;
      var urlParams = new URLSearchParams(queryString);
      var page = parseInt(urlParams.get("page"));
      if (page<3) {
        page+=1;
        sessionStorage.setItem("page", page)
        sessionStorage.setItem("reloading", "true");
        document.location.reload();
      }
      else if (page>=3) {}
      else {
        sessionStorage.setItem("page", 2)
        sessionStorage.setItem("reloading", "true");
        document.location.reload();
      }
  }

  function lastPage() {
    var queryString = window.location.search;
      var urlParams = new URLSearchParams(queryString);
      var page = parseInt(urlParams.get('page'));
      if (page>1) {
        page-=1;
        sessionStorage.setItem("page", page)
        sessionStorage.setItem("reloading", "true");
        document.location.reload();
      }
  }
</script>
</head>
<section class="header">
  <nav>
    <img src="{% static 'mycrypt/img/logo.png' %}" alt="LOGO" width="100px">
    <h1 class="logo" >MyCrypt</h1>
    <div class="nav-link" id="navlink">
      
      <ul>
        <li><a href="{% url 'mycrypt:home' %}" style="color:#FFFFFB">Cryptocurrencies</a></li>
        <li><a href="{% url 'mycrypt:learn' %}">Learn</a></li>
        <li><a href="{% url 'mycrypt:watchlist'%}">Watchlist</a></li>
        {% block function %}
        {% if current_user %}
        <button class="nav-button">
          <a href="{%url 'mycrypt:logout'%}">Logout</a>
        </button>
            <br>
            {% else %}
            <button class="nav-button">
              <a href="{% url 'mycrypt:login' %}">Login</a>
            </button>
            <button class="nav-button" >
              <a href="{% url 'mycrypt:signup' %}">Sign Up</a>
            </button>
            {% endif %}
            {% endblock %}
          </div>
        </ul>
      </div>
    </nav>
  </section>
  <body onload="checkReload();">
    {% block content %}
    <!-- <h1 id="stock2"></h1> -->
    <div class="forgot">
      <div class="container-home">
        
        <div class="cont-head">
          <input type="text" placeholder="Search..">
          <h1>Cryptocurrencies</h1>
        </div>
          <br><br>
          <div class="date">
            <form method = "GET">
              <button onclick="reloadPeriod('24h');return false" name="period" type="submit">24H</button>
              <button onclick="reloadPeriod('7d');return false" name="period" type="submit">7D</button>
              <button onclick="reloadPeriod('14d');return false"name ="period" type="submit">14D</button>
            </form>
          </div>
          <br><br>
          <section class="p-5">
            <div class="container table-bordered table-responsive">
      
              <table class="table table-hover">
                <caption class="caption-top">
                  watchlist
                </caption>
                
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Coin</th>
                    <th scope="col">Price</th>
                    <th scope="col">Price changed</th>
                  </tr>
                </thead>
                
                {% for data in icon %}
                <tbody>
                  <tr>
                    <td>
                          <img src="{{data.image}}" width="25px">
                        </td>
                        <td>
                          <a href="{% url 'mycrypt:coins' coin_name=data.name %}">
                            {{data.symbol}}
                            <!-- <span onclick="myfunc(this)" >{{data.symbol}}</span> -->
                          </a>
                          </td>
                          <td>{{data.current_price}}</td>
                          {% if period == "24h"%}
                          <td>{{data.price_change_percentage_24h_in_currency}}</td>
                          {% elif period == "7d"%}
                          <td>{{data.price_change_percentage_7d_in_currency}}</td>
                          {% elif period == "14d"%}
                          <td>{{data.price_change_percentage_14d_in_currency}}</td>
                          {% endif %} 
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </section>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
            <form method="GET">
              <li class="page-item">
                <a onclick="lastPage()" class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
            <button class="paginate-button" onclick="reloadPageNum(1);return false" type="submit">
              <li class="page-item">
                <a class="page-link">1</a>
              </li>
            </button>
            <button class="paginate-button" onclick="reloadPageNum(2);return false" type="submit">
              <li class="page-item">
                <a class="page-link">2</a>
              </li>
            </button>
            <button class="paginate-button" onclick="reloadPageNum(3);return false" type="submit">
            <li class="page-item">
              <a class="page-link">3</a>
            </li>
            </button>
            <li class="page-item">
            <a onclick="nextPage()" class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
            </li>
          </form>
        </ul>
      </nav>
      <img src="../../static/mycrypt/img/Ramen.png" alt="">
    </div>
  </div>
  {% endblock %}
  <div class="footer">
    <h1><img src="{% static 'mycrypt/img/Ramen.png' %}" alt="LOGO" width="50px">mycrypt</h1>
    <p>Learn how to purchase and manage Cryptocurrency</p>
    <p class="lead">Copyright &copy; mycrypt 2022</p>
  </div>
</body>
</html>