<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script
      type="text/javascript"
      src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"
    ></script>
    <script type="text/javascript" src="../../static/mycrypt/graph.js"></script>
  </head>
  <body>
    <h1>Mycrypt</h1>

    <a href="#">Home</a>
    <span>/</span>

    {% if current_user %}
    <a href="{% url 'mycrypt:logout' %}">Logout</a>
    <hr />
    <h2>Welcome <span style="color: dodgerblue">{{current_user}}</span>!</h2>
    {% else %}
    <a href="{% url 'mycrypt:login' %}">Login</a>
    <span>/</span>
    <a href="{% url 'mycrypt:signup' %}">Sign Up</a>
    <hr />
    <h2>Login to access this website!</h2>
    {% endif %} {% block body %}{% endblock %}
    <div id="chartContainer" style="height: 500px; width: 100%"></div>
  </body>
</html>
