<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'mycrypt/css/style.css' %}">
      <link rel="icon" href="{% static 'mycrypt/img/Logo.png' %}">
      <link rel="stylesheet" href="{% static 'mycrypt/css/bootstrap.css' %}">
      <title>MyCrypt</title>
      <script 
        type="text/javascript"
        src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"
      ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
      <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      </head>
  </head>
  <body>
    <section class="header">
      <nav>
        <img src="{% static 'mycrypt/img/logo.png' %}" alt="LOGO" width="100px">
        <h1 class="logo" > 
          <a style="text-decoration:none; color:white" href="{% url 'mycrypt:index' %}">
            MyCrypt
          </a>  </h1>
        <div class="nav-link" id="navlink">
          <ul>
              <li><a  href="{% url 'mycrypt:home' %}" style="color:#FFFFFB">Cyrptocurrencies</a></li>
              <li><a href="{% url 'mycrypt:learn' %}">Learn</a></li>
              <li><a href="{% url 'mycrypt:watchlist'%}">Watchlist</a></li>
              {% block function %}
              {% if current_user %}
              <button class="nav-button">
                <a style="text-decoration: none" href="{%url 'mycrypt:logout'%}">Logout</a>
              </button>
              <br>
              {% else %}
              <button  class="nav-button">
                <a  href="{% url 'mycrypt:login' %}">Login</a>
              </button>
              <button class="nav-button" >
                <a href="{% url 'mycrypt:signup' %}">Sign Up</a>
              </button>
              {% endif %}
              {% endblock %}
            </div>
          </ul>
        </div>
      </nav>
    </section>
  </body>
  <section>
    <div class="top-index" style= "background-image: url(../../static/mycrypt/img/cypto.jpeg)" >
      <div class="top-container">
      <div class="slider-text top-text">
        <h1 class="top"><span>WELCOME</span> TO <span>MYCRYPT</span></h1>
          <!-- <h2>Invest In The Future Of Currency</h2>
          <p>We offers users a fully operational long-term rental platform. It plans to leverages blockchain technology to ensure seamless rental experience.</p> -->
          <button class="glow-on-hover"  type="button"><a style="color:white;" href="{%url 'mycrypt:logout'%}">GET STARTED</a></button>
        </div>
    </div>
  
  </section>
  
  
  <section class="features">
    <div class="features-contrainer">
  
      <div class="row features-row">
  
        <div class="features-box col-md-4 col-sm-12">
          <span class="features-icon">
            <img src="{% static 'mycrypt/img/logo.png' %}" width="50px" height="50px">
          </span>
          <div class="features-box-content">
            <h3>Watch Your Favourite Currencies for Quick Access</h3>
            <p>Have a particular currency you want quick access to? With the watchlist, you can save your favourite currencies and access them any time.</p>
          </div>
        </div>
        <div class="features-box two col-md-4 col-sm-12">
          <span class="features-icon">
            <img src="{% static 'mycrypt/img/logo.png' %}" width="50px" height="50px">
          </span>
          <div class="features-box-content">
            <h3>Take Some Professional Advice From Our Learn Page</h3>
            <p>We offer free, professional advice from experts in the field with our "Learn" page. Learn many helpful tips from experienced investors!
            </p>
          </div>
        </div>
        <div class="features-box three col-md-4 col-sm-12">
          <span class="features-icon">
            <img src="{% static 'mycrypt/img/logo.png' %}" width="50px" height="50px">
          </span>
          <div class="features-box-content">
            <h3>Need Help? Try Asking Our Chatbot Questions</h3>
            <p>Our chatbot can answer basic questions about cryptocurrency. Test it out!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="home" class="home_bg">
    <div id="particles-js">
      <canvas class="particles-js-canvas-el" width="494" height="2976" style="width: 100%; height: 100%;"></canvas>
    </div>
  
  <div class="i-container">
  <div class="i-row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="hero-text">
    </div> 
  </div>
  </div>
  </div>
</section>
<div class="footer">
  <h1><img src="{% static 'mycrypt/img/Ramen.png' %}" alt="LOGO" width="50px">mycrypt</h1>
  <p>Learn how to purchase and manage Cyrptocurrency</p>
  <p class="lead">Copyright &copy; mycrypt 2022</p>
</div>
</html>