<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>learn</title>
    <link rel="stylesheet" href="../../static/mycrypt/bootstrap.css" />
    <link rel="stylesheet" href="../../static/mycrypt/style2.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">
          <img src="../../static/mycrypt/img/logo.png" style="max-width: 30px;" alt="logo">
          mycrypt</a>

        <button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Cryptocurrencies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Learn</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="watchlist.html">Watchlist</a></li>
          </ul>
        </div>

        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
          <button type="button" class="btn btn-light">Login</button>
          <button type="button" class="btn btn-light">Register </button>
        </div>
      </div>
    </nav>

    <section class="p-5 bg-white text-dark text-center text-sm-start">
      <div class="container">
        <div>
          <h1>learn</h1>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                  learn 1
                </a>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseTwo"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseThree"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseFour"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseFive"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseSix"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseSix"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseSeven"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseSeven"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseEight"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseEight"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseNine"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseNine"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="p-5 bg-dark text-white text-center">
      <div class="container">
        <p class="lead">Copyright &copy; mycrypt 2022</p>
      </div>
    </footer>
    <script src="../../static/mycrypt/bootstrap.bundle.js"></script>
  </body>
</html>
