<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>learn</title>
    <link rel="stylesheet" href="../../static/mycrypt/bootstrap.css" />
    <link rel="stylesheet" href="../../static/mycrypt/bootstrap.css" />

    <link rel="stylesheet" href="../../static/mycrypt/style.css">
    <link rel="icon" href="../../images/Logo.png">
    <link rel="stylesheet" href="../../static/mycrypt/bootstrap.css">
    <title>MyCrypt</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
  defer
  type="text/javascript"
  src="../../static/mycrypt/realTimeGraph.js"
></script>
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

  </head>
  <body>
    <section class="header">
      <nav>
        <img src="../../static/mycrypt/img/logo.png" alt="LOGO" width="100px">
        <h1 class="logo" >MyCrypt</h1>
        <div class="nav-link" id="navlink">
          
          <ul>
            <li><a href="{% url 'mycrypt:home' %}">Cyrptocurrencies</a></li>
            <li><a href="{% url 'mycrypt:learn' %}" style="color:#FFFFFB">Learn</a></li>
            <li><a href="{% url 'mycrypt:watchlist'%}">Watchlist</a></li>
            {% block function %}
            {% if current_user %}
            <button class="nav-button">
              <a href="{%url 'mycrypt:logout'%}">Logout</a>
            </button>
                <br>
                {% else %}
                <button class="nav-button">
                  <a href="{% url 'mycrypt:login' %}">Login</a>
                </button>
                <button class="nav-button" >
                  <a href="{% url 'mycrypt:signup' %}">Sign Up</a>
                </button>
                {% endif %}
                {% endblock %}
              </div>
            </ul>
          </div>
        </nav>
      </section>

    <section class="p-5 bg-white text-dark text-center text-sm-start">
      <div class="container">
        <div>
          <h1>learn</h1>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                  learn 1
                </a>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseTwo"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseThree"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseFour"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseFive"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseSix"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseSix"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseSeven"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseSeven"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseEight"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseEight"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseNine"
                >
                  learn 1
                </a>
              </div>
              <div
                id="collapseNine"
                class="collapse"
                data-bs-parent="#accordion"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer">
      <h1><img src="../../static/mycrypt/img/Ramen.png" alt="LOGO" width="50px">mycrypt</h1>
      <p>Learn how to purchase and manage Cyrptocurrency</p>
      <p class="lead">Copyright &copy; mycrypt 2022</p>
    </div>
    <script src="../../static/mycrypt/bootstrap.bundle.js"></script>
  </body>
</html>