{% extends 'mycrypt/home.html' %} 
{% block content %}
    <section class="p-5 bg-white text-dark text-center text-sm-start">
      <div class="container">
        <div>
          <h1>Mycrypt Knowledge</h1>
          {% for content in contents %}
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a
                  class="collapsed btn"
                  data-bs-toggle="collapse"
                  href="#collapseNine">
                  <h3>
                    {{content.title}}
                  </h3>
                </a>
              </div>
              <div
                id="collapseNine"
                class="collapse"
                data-bs-parent="#accordion">
                <div class="card-body">
                  <p>{{content.body}}</p> 
                  <strong>
                    <p>Author: {{content.author}}</p>
                    <p>Date: {{content.date}}</p>
                    <a href="{{content.source}}">{{content.source}} </a>
                  </strong>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}