{% extends 'mycrypt/home.html' %} 
{% block title %}Login{% endblock %} 
{% block function %} 
{% endblock %}
{% block content %}
<div class="forgot">

    <div class="container">
        <h1>Login</h1>
        <br><br>
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <h2>Username or Email</h2>
            <input class="input" type="text" name="uname">
            <br><br>
            <h2>Password</h2>
            <input class="input" type="password" name="pwd" >
            <br><br>
            <button type="submit">
              Submit
            </button>
            <br><br>
              <h3><a href="{% url 'mycrypt:signup' %}">Register ?</a> </h3>
            <br><br>
              <h3><a href="{% url 'mycrypt:forgot' %}">Forgot password ?</a></h3>
        </form>
    </div>
</div>
{% endblock %}

