{% extends 'mycrypt/home.html' %}
{% block title %}Sing Up{% endblock %}

{% block body %}
    <h2>Sign Up</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="Username">
        <br><br>
        <input type="password" name="pwd" placeholder="Password">
        <br><br>
        <input type="password" name="pwd2" placeholder="Confirm Password">
        <br><br> 
        <label for="role">Who are you ?</label>
        <br><br>
        <select name="role" id="" >
            <option value="investor">Investor/Professional</option>
            <option value="normal">Casual User</option>
        </select>
        <br><br>
        <input type="submit" name="submit" value="Sign Up">
    </form>

{% endblock %}
<h1>My crypt</h1>

<a href="#">Home</a>
<span>/</span>

{% if current_user %}
<a href="{% url 'mycrypt:logout' %}">Logout</a>
<hr />
<h2>Welcome <span style="color: dodgerblue">{{current_user}}</span>!</h2>
{% else %}
<a href="{% url 'mycrypt:login' %}">Login</a>
<span>/</span>
<a href="{% url 'mycrypt:signup' %}">Sign Up</a>
<hr />
<h2>Login to access this website!</h2>
{% endif %} {% block body %}{% endblock %}
</body>