{% extends 'mycrypt/home.html' %}
{% block content %}
{% load static %}
<script>
  function myfunc(val) {
    window.localStorage.setItem('coin',val.innerHTML);
  }
</script> 
      <div class="date">
        <form method = "POST">
          {%csrf_token%}
          <button onclick="window.location.reload();" name="period" type="submit", value="24h">24H</button>
          <button onclick="window.location.reload();" name="period" type="submit", value="7d">7D</button>
          <button onclick= "window.location.reload();"name ="period" type="submit", value="14d">14D</button>
        </form>
      </div>

    <section class="p-5">
      <div class="container table-bordered table-responsive">

        <table class="table table-hover">
          <caption class="caption-top">
            watchlist
          </caption>
          
          <thead>
            <tr>
              <th scope="col">Like</th>
              <th scope="col">#</th>
              <th scope="col">Coin</th>
              <th scope="col">Price</th>
              <th scope="col">Price changed</th>
            </tr>
          </thead>
        </table>
      </div>
    </section>
    <div class="footer">
      <h1><img src="{% static 'mycrypt/img/Ramen.png' %}" alt="LOGO" width="50px">mycrypt</h1>
      <p>Learn how to purchase and manage Cyrptocurrency</p>
      <p class="lead">Copyright &copy; mycrypt 2022</p>
    </div>
    <script>
      $(document).ready(function () {
        $("#TRawMaterialStorageTable").bootstrapTable("resetView", {
          height: 349,
        });
      });
    </script>

    <script src=" static 'mycrypt/javaScript/bootstrap.bundle.js' "></script>
{% endblock %}
