
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
*{
    margin: 0;
}
body{
    background: #F5F5F5;
}
h1{
    font-family: 'Iceberg', cursive;
    font-size: 40px;

}
/* Header/title/logo */
.header{
    padding:25px;
    background: #404E4D;
}
.header img{
    vertical-align: middle;
}
.logo{
    color: #bebbbb;
    font-family: 'Iceberg', cursive;
    font-size: 50px;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    flex:1;
    text-align: left;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}
.nav-link ul li a{
    color: #bebbbb;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Inter', sans-serif, bold;
    padding:20px;
    position: relative; top:25px;
}
.nav-button{
    float: right;
    padding: 15px;
    font-family: 'Inter', sans-serif, bold;
    background-color: #d9d9d9;
    margin-right: 30px;
    border:15px;
    width: 200px;
    cursor:pointer;
    border-radius:10px;
}
/* box */
.container{
    padding: 45px;
    background-color: white;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin:30px auto;
    text-align: center;
}
.container-home{
    padding: 0px;
    background-color: white;
    border-radius: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:30px auto;
    text-align: center;
}
.cont-head input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 17px;
    position: relative; top: 15px;

  }
.cont-head{
    background-color: #404E4D;
    height: 60px;
    margin: 0;
    border-top:15px;
    flex: 0 0 auto;
    border-bottom-width:5px ;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: left;
    padding-left: 15px;
    color:white;
}
.container a{
    color: black;
    text-decoration: none;
}
.container h2{
    text-align: left ;
    padding-left:25% ;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
h3{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.button{
    background-color: #404E4D;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    width: 51%;
    color:white;
}
.signup{
    min-height: 72vh;
}


/* Footer */
.footer{
    padding: 31px;
    text-align: left;
    background: #404E4D;
    min-height: 50px;
    position:fixed;
    bottom:0;
    width: 100%;
    color: #bebbbb
}
.footer img{
    vertical-align: middle;
}
/* Input */
.input{
    font-size:16px;
    height: 30px;
    width: 50%;
    border: 2px solid black;
}
.ctable{
    font-family: "Inter";
    font-size:12px;
}
.ctable th{
    font-size: 12px;
    color: #75798a;
    font-weight: 500;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
} 
.ctable td{
    border-bottom: 1px solid gray;
    padding: 15px 5px;
}
.ctable img{
    height: 35px;
}
.u-image{
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.u-align-left{
    text-align:left;
}
.u-section-2{
    min-height:670px ;
    background-image: url("/Users/johnpham/Documents/Mycrypt/mycrypt/static/mycrypt/img/background.png");
    background-position: 50% 50%;
}
.u.clearfix:before{
    content: '';
    display: table;
    box-sizing: border-box;
}
.u-layout-wrap{
    width: calc(((100% - 340px) / 2) + 340px);
    margin: 0 auto 0 0;
}
.u-layout{
    padding:0;
}
.u-layout-row{
    flex-direction: row;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
}
.u-image-1{
    min-height: 690px;
    background-image: url("/Users/johnpham/Documents/Mycrypt/mycrypt/static/mycrypt/img/cypto.jpeg");
    background-position: 50% 50%;
}
.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
}
.u-valign-bottom {
    display: flex;
    flex-direction: column;
}
.u-valign-bottom {
    justify-content: flex-end;
}
.u-section-2 .u-container-layout-1 {
    padding: 0;
}
.u-valign-middle{
    display: flex;
    flex-direction: column;
}
.u-container-layout-2 {
    padding: 60px 40px 30px 30px;
}
.u-valign-middle {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.u-text-1 {
    font-weight: 700;
    font-size: 3.75rem;
    margin: 0;
}